<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
      <nav class="navbar navbar-transparent navbar-absolute" style="background-color:#8B008B">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" style="color:white; font-family:'Montserrat', sans-serif;">KY Dashboard</a>
          </div>
          <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li class="nav-item">
                    <a class="nav-link" style="color:aliceblue" href="/ca-form">
                              <p style="color:aliceblue;font-size: 15px;font-family: 'Montserrat', sans-serif">Apply for Campus Ambassador</p>
                    </a>
                </li>
              <li>

              </li>
            </ul>
          </div>
        </div>
      </nav>
