<!doctype html>
<html lang="en" class="no-js">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>
<link href="https://fonts.googleapis.com/css?family=Sedgwick+Ave" rel="stylesheet">
	<link rel="stylesheet" href="/static/cssFaq/reset.css"> <!-- CSS reset -->
	<link rel="stylesheet" href="/static/cssFaq/style.css"> <!-- Resource style -->
	<script src="/static/jsFaq/modernizr.js"></script> <!-- Modernizr -->
	<title>FAQ Template </title>
</head>
<body>
<header>
	<h1 style="font-family: 'Montserrat', sans-serif;, font-size:80px;font-weight:bold;text-decoration:underline;text-color:white;">Frequently Asked Questions</h1></header>

<section class="cd-faq">
	<ul class="cd-faq-categories">
		<li><a class="selected" href="#basics">Basics</a></li>
		<li><a href="#mobile">Accomodations</a></li>
		<li><a href="#account">Others</a></li>
		
		
	</ul> <!-- cd-faq-categories -->

	<div class="cd-faq-items">
		<ul id="basics" class="cd-faq-group">
			<li class="cd-faq-title"><h2>Basics</h2></li>
			<li>
				<a class="cd-faq-trigger" href="#0">When is next edition of Kashiyatra</a>
				<div class="cd-faq-content">
					<p> Kashiyatra 2019 will be held from 18th to 20th January. Gear up for the 3 most awesome days of 2019.</p>
				</div> <!-- cd-faq-content -->
			</li>

			<li>
				<a class="cd-faq-trigger" href="#0">How can I paricipate in Kashiyatra'19</a>
				<div class="cd-faq-content">
					<p>To paricipate in Kashiyatra'19 you need to register first.For each event you want to participate you need to regsiter seperately</p>
				</div> <!-- cd-faq-content -->
			</li>

			<li>
				<a class="cd-faq-trigger" href="#0">What is significance of KY ID</a>
				<div class="cd-faq-content">
					<p>The first step which you need to do participate in Kashiyatra is to generate your unique "KY ID". This allows you you to regsiter yourself and your team for different events of Kashiyatra 19.Also during your participation at IIT(BHU) Varanasi, you will be asked to show your KY ID.</p>
				</div> <!-- cd-faq-content -->
			</li>

			<li>
				<a class="cd-faq-trigger" href="#0">Where should I report after reaching IIT(BHU) Varanasi? </a>
				<div class="cd-faq-content">
					<p>Our registration desk will be setup at LIMBDI Hostel. You need to come there and go through the necessary procedure to avail accomodation at IIT(BHU) Varanasi.</p>
				</div> <!-- cd-faq-content -->
			</li>
			
			<li>
				<a class="cd-faq-trigger" href="#0">How can I be allowed to participate at a given event venue? </a>
				<div class="cd-faq-content">
					<p>Each paricipant must show his/her "Identity Card" which you have recieved from the "Registration Desk".This ID card has a unique number which is required before you paricipate in your event.Also, the event you want to take part in should be mentioned on your ID card by the coordinator at the Registration Desk.</p> 
				</div> <!-- cd-faq-content -->
			</li>
			<li>
				<a class="cd-faq-trigger" href="#0">What if I do not have a Registration ID before coming to the festival? </a>
				<div class="cd-faq-content">
					<p>You can go to the "Registration Desk" to get your Registration ID well before the start of your interested event.But doing this ensures that you are opting for "On-Spot Registration" which does not guarantee whither you will be getting a slot to paricipate or not. It is strongly recommended that you register only before coming to the festival to fix your participation.</p> 
				</div> <!-- cd-faq-content -->
			</li>
			
			<li>
				<a class="cd-faq-trigger" href="#0">Are on spot registrations allowed? </a>
				<div class="cd-faq-content">
					<p>On spot regsitartions may or may not be allowed depending on the number of already regsitered participants. We suggest you register online or with the campus ambassador as soon as possible.</p>
				</div> <!-- cd-faq-content -->
			</li>
		</ul> <!-- cd-faq-group -->

		<ul id="mobile" class="cd-faq-group">
			<li class="cd-faq-title"><h2>Accomodations</h2></li>
			<li>
				<a class="cd-faq-trigger" href="#0">What type of accomodation will be providied?</a>
				<div class="cd-faq-content">
					<p>Accomodations will be provided to boys and girls in well secured separate residential complexes in the campus of IIT(BHU).</p>
				</div> <!-- cd-faq-content -->
			</li>

			<li>
				<a class="cd-faq-trigger" href="#0">Few members of my team will be arriving late,what to do about their accomodation? </a>
				<div class="cd-faq-content">
					<p>No issues. You can take accomodation for those members as and when the arrive,you can book accomodation for them beforehand.</p> 
				</div> <!-- cd-faq-content -->
			</li>
			
			<li>
				<a class="cd-faq-trigger" href="#0">Does accomodation fee include the food facility as well?<a>
				<div class="cd-faq-content">
					<p>No. The accomodation charges dont include food. However,you can take food in hostel mess 100rs/- for all 3 meals of the day.Also, there will be food courts operational at the events venue during Kashiyatra to cater to food requirements.</p>
				</div> <!-- cd-faq-content -->
			</li>

			<li>
				<a class="cd-faq-trigger" href="#0">Are there ATMs available inside?</a>
				<div class="cd-faq-content">
					<p>Yes, ATMs are available.</p> 
				</div> <!-- cd-faq-content -->
			</li>
		</ul> <!-- cd-faq-group -->

		<ul id="account" class="cd-faq-group">
			<li class="cd-faq-title"><h2>Others</h2></li>
			<li>
				<a class="cd-faq-trigger" href="#0">What is the artist line-up?</a>
				<div class="cd-faq-content">
					<p>Stay tuned to our Official Facebook page.</p>
				</div> <!-- cd-faq-content -->
			</li>

			<li>
				<a class="cd-faq-trigger" href="#0">Can I take photos during Pronites?</a>
				<div class="cd-faq-content">
					<p>Preferably not. You just stood in a huge queue to see it live, why ruin it just to show it to others!</p> 
				</div> <!-- cd-faq-content -->
			</li>

			<li>
				<a class="cd-faq-trigger" href="#0">Do I have to register for Prelims and Finals seperately?</a>
				<div class="cd-faq-content">
					<p>No you need to register for each event only once.</p>
				</div> <!-- cd-faq-content -->
			</li>

		</ul> <!-- cd-faq-group -->

		


	</div> <!-- cd-faq-items -->
	<a href="#0" class="cd-close-panel">Close</a>
</section> <!-- cd-faq -->
<script src="/static/jsFaq/jquery-2.1.1.js"></script>
<script src="/static/jsFaq/jquery.mobile.custom.min.js"></script>
<script src="/static/jsFaq/main.js"></script> <!-- Resource jQuery -->
</body>
</html>