<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>Sign-Up/Login Form</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">


      <link rel="stylesheet" href="/static/login/css/style.css">


</head>

<body>

  <div class="form">

      <ul class="tab-group">
        <li class="ta"><a href="/email_reg">Register</a></li>
        <li class="tab active"><a href="#login">Log In</a></li>
      </ul>

      <div class="tab-content">

        <div id="login" class="loginpanel">


          <form action="" method="post" role="form">
              {% csrf_token %}

            <div class="field-wrap">
            <label>
              Email Address
            </label>
            <input type="email" name="email" id="email" />
          </div>

          <div class="field-wrap">
            <label>
              Password
            </label>
            <input type="password" id="pass1" name="pass1" required/>
          </div>

          <p class="forgot"><a href="/forgotPass">Forgot Password?</a></p>

          <button class="button button-block" value="Login">Log In</button>

          </form>
          <div class="hr">
    <div></div>
    <div>OR</div>
    <div></div>
  </div>

   <div class="social">

   <a href="/account/facebook/login/" class="facebook"></a>
    <!--<a href="javascript:void(0)" class="twitter"></a>-->
    <a href="/account/google/login/" class="googleplus"></a>

  </div>
        </div>

      </div><!-- tab-content -->

</div> <!-- /form -->
  <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>



    <script  src="/static/login/js/index.js"></script>




</body>
</html>
