<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>SPONSORS| Kashiyatra</title>
  
  
  
      <style>
      body { margin: 0; background: #fcf7e8; }
header { 
  padding: .5vw;
  font-size: 15px;
  display: -ms-flexbox;
  -ms-flex-wrap: wrap;
  -ms-flex-direction: column;
  -webkit-flex-flow: row wrap; 
  flex-flow: row wrap; 
  display: -webkit-box;
  display: flex;
  font-family: "Montserrat",sans-serif;
  text-align: center;
}
header div { 
  -webkit-box-flex: auto;
  -ms-flex: auto;
  flex: auto; 
  max-width: 15%;
  max-height: 300px;
  margin: auto;
 
}
header div img { 
  max-width: 100%; 
  height: auto; 
  
}

#title-sponsor {
  max-width: 55%; 
  margin: 0 20%;
  
}

#title-sponsor img {
  padding-bottom: 70px;
}

@media screen and (max-width: 1200px) {
  header div { padding:10%; }
  #title-sponsor { width: 90%; margin: 0 auto;}
}

@media screen and (min-width: 1200px) {
  header div { margin: 0; padding:5%; }
  header { padding: 0; }
  
}
h1
{
  font-family: "Montserrat",sans-serif;
}
    </style>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>

</head>

<body>
  <div id="heading"><h1 style="font-weight: 700;text-align: center;font-size: 70px;color: #ffc314;text-decoration: underline overline dotted red;"> KASHIYATRA'18 SPONSORS </h1></div>






  <!-- ADD IMAGES FROM THE GOOGLE SHEET IN THE logo png FOLDER AND SIMPLY CHANGE THE FILE NAME. THE CSS CODE IS IN THE ONE ABOVE , SAME FILE. ADD IMAGE DESCRIPTION AS SHOWN FOR THE COCA COLA IMAGE. TRY TO KEEP THE TITLE SPONSOR AS A SINGLE IMAGE IN THE ROW. THE NUMBER OF SPONSORS GIVEN IS UNREASONABLE KEEP ONLY THE IMPORTANT ONES. I HAVE TRIED TO KEEP THE CODE AS CLEAN AS POSSIBLE. PLEASE MAINTAIN IT SO THAT IT CAN BE REUSED FOR FURTHER EDITIONS OF THE FEST.  --> 
   <header>

<div id="title-sponsor" ><h2>TITLE SPONSOR</h2><img style="max-height: 100%;  border-bottom: solid black 2px;" src="/static/img/logo png/lava.jpg" alt></div><br/>
<div><h2>IN ASSOCIATION</h2><img src="/static/img/logo png/atlas.jpg" alt></div>
<div><h2>IN ASSOCIATION</h2><img src="/static/img/logo png/bnatural.jpg" alt></div>
<div><h2>POWERED BY</h2><img src="/static/img/logo png/Colors%20of%20Youth.png" alt></div>
<div><h2>CO PRESENTED BY</h2><img src="/static/img/logo png/the_quint.jpg" alt></div>
<div><h2>CO SPONSORED BY</h2><img src="/static/img/logo png/IFFCO.png" alt></div>
<div><h2>EDM TITLE</h2><img src="/static/img/logo png/odm_intergrity.jpg" alt></div>
<div><h2>EDM NIGHT POWERED BY</h2><img src="/static/img/logo png/ointegrity.jpg" alt></div>
<div><h2>COMEDY NIGHT TITLE</h2><img src="/static/img/logo png/bingo.jpg" alt></div>
<div><h2>FOOTWEAR PARTNER</h2><img src="/static/img/logo png/sparx.jpg" alt></div>
<div><h2>INSURANCE PARTNER</h2><img src="/static/img/logo png/max_life.jpg" alt></div>
<div><h2>ONLINE EVENTS PARTNER</h2><img src="/static/img/logo png/portronics.png" alt></div>
<div><h2>STYLE PARTNER</h2><img src="/static/img/logo png/spykar.png" alt></div>
<div><h2>TIME PARTNER</h2><img src="/static/img/logo png/sonata.jpg" alt></div>
<div><h2>ANIMAL RIGHTS PARTNER</h2><img src="/static/img/logo png/peta.jpg" alt></div>
<div><h2>LIFESTYLE PARTNER</h2><img src="/static/img/logo png/trends.jpg" alt></div>
<div><h2>STATIONARY PARTNER</h2><img src="/static/img/logo png/camlin.jpg" alt></div>
<div><h2>FASHION PARTNER</h2><img src="/static/img/logo png/celio.jpg" alt></div>
<div><h2>TRIP PARTNER</h2><img src="/static/img/logo png/Ixigo.jpg" alt></div>
<div><h2>ONLINE NEWS PARTNER</h2><img src="/static/img/logo png/inshorts.jpg" alt></div>
<div><h2>KAVYA MANJAR TITLE PARTNER</h2><img src="/static/img/logo png/utkarsh_bank.jpg" alt></div>
<div><h2>KAVYA MANJAR ASSOCIATE PARTNER</h2><img src="/static/img/logo png/chetmani.jpg" alt></div>
<div><h2>TECHNOLOGY PARTNER</h2><img src="/static/img/logo png/cft.jpg" alt></div>
<div><h2>CAT COACHING PARTNER</h2><img src="/static/img/logo png/career_launcher.jpg" alt></div>
<div><h2>ENERGY PARTNER</h2><img src="/static/img/logo png/fru2go.jpg" alt></div>
<div><h2>WEB HOSTING PARTNER</h2><img src="/static/img/logo png/znetlive.jpg" alt></div>
<div><h2>AUDIO PARTNER</h2><img src="/static/img/logo png/Zebronics.png" alt></div>
<div><h2>PUBLICATION PARTNER</h2><img src="/static/img/logo png/made_easy.jpg" alt></div>
<div><h2>EVENT PARTNER</h2><img src="/static/img/logo png/hertz_digital.jpg" alt></div>
<div><h2>CAFE PARTNER</h2><img src="/static/img/logo png/koolders_cafe.jpg" alt></div>
<div><h2>PIZZA PARTNER</h2><img src="/static/img/logo png/downtown_pizza.jpg" alt></div>
<div><h2>DRESSING PARTNER</h2><img src="/static/img/logo png/silkfab.jpg" alt></div>
<div><h2>FASHION INSTITUTE PARTNER</h2><img src="/static/img/logo png/cifa.jpg" alt></div>
<div><h2>FOOD BAZAAR PARTNER</h2><img src="/static/img/logo png/baba_shree.jpg" alt></div>
<div><h2>MUSIC ACADEMY PARTNER</h2><img src="/static/img/logo png/indian_idol_acad.jpg" alt></div>
<div><h2>ONLINE PAYMENT PARTNER</h2><img src="/static/img/logo png/telr.jpg" alt></div>
<div><h2>JEE COACHING PARTNER</h2><img src="/static/img/logo png/ambition_gurukul.jpg" alt></div>
<div><h2>STARTUP PARTNER</h2><img src="/static/img/logo png/edu_vitae.jpg" alt></div>
<div><h2>SOCIAL CAUSE PARTNER</h2><img src="/static/img/logo png/oxfam.jpg" alt></div>
<div><h2>MEDIA PARTNER</h2><img src="/static/img/logo png/atkt.jpg" alt></div>
<div><h2>CULTURAL PARTNER</h2><img src="/static/img/logo png/Embassy%20Israel.png" alt></div>
<div><h2>SPONSORED BY</h2><img src="/static/img/logo png/olstay.jpg" alt></div>
<div><h2>SPONSORED BY</h2><img src="/static/img/logo png/fidm.jpg" alt></div>
<div><h2>SPONSORED BY</h2><img src="/static/img/logo png/tastybuds.jpg" alt></div>
<div><h2>SPONSORED BY</h2><img src="/static/img/logo png/vision_ias.jpg" alt></div>
<div><h2>SPONSORED BY</h2><img src="/static/img/logo png/angeethi.jpg" alt></div>
<div><h2>SPONSORED BY</h2><img src="/static/img/logo png/robotribes.jpg" alt></div>
<div><h2>SPONSORED BY</h2><img src="/static/img/logo png/funk you.jpg" alt></div>



  <!-- images placed inside block elements to deal with a Firefox rendering bug affecting  scaled flexbox images -->
</header>


<!-- NO NEED TO CHANGE ANYTHING FOR THE BELOW IMAGES. YOU MAY ADD A FEW IF NECESSARY-->
<div id="heading"><h1 style="font-weight: 700;text-align: center;font-size: 70px;color: #ffc314;text-decoration: underline overline dotted red;"> PREVIOUS SPONSORS </h1></div>
  <header>
<div><img src="/static/img/logo png/coca cola.png" alt></div>
<div><img src="/static/img/logo png/Numero jeans.png" alt></div>
<div><img src="/static/img/logo png/hero.png" alt></div>
<div><img src="/static/img/logo png/IFFCO.png" alt></div>
<div><img src="/static/img/logo png/lic.png" alt></div>
<div><img src="/static/img/logo png/OLA.png" alt></div>
<div><img src="/static/img/logo png/manforce.png" alt></div>
<div><img src="/static/img/logo png/zindagi.png" alt></div>
<div><img src="/static/img/logo png/nba jam.png" alt></div>
<div><img src="/static/img/logo png/People.png" alt></div>
<div><img src="/static/img/logo png/Roohafza Fusion.png" alt></div>
<div><img src="/static/img/logo png/portronics.png" alt></div>
<div><img src="/static/img/logo png/sbi.png" alt></div>
<div><img src="/static/img/logo png/sunburn.png" alt></div>
<div><img src="/static/img/logo png/pepsi.png" alt></div>
<div><img src="/static/img/logo png/The Hindu.png" alt></div>
<div><img src="/static/img/logo png/Hindustan Times.png" alt></div>
</header>
  <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>

  

</body>

</html>
